:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(211, 207, 237, 1);
  background-image: linear-gradient(to right, rgba(0,255,0,0.1), rgb(103, 4, 130,0.3));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, th, td {
  
  border: 1px solid;
}
table{
  table-layout: auto;
  width: 100%;
}
th{
  background-color: blue;
  color:aquamarine;
  height: 40px;
}
td {
  text-align: center;
  vertical-align: top;
}


header {
  font-size: 1em;
}
main {
  padding: 99px;
  position: relative;
  top: 180px;
}
article {
  width: 900px;
}
.navbar {
  overflow: hidden;
  position:absolute;
  
  top: 0;
  width: 100%;
  height: 3cm;
}
img{
  border-radius: 30%;
}
.logo {
  overflow: visible;
  position: fixed;
  top: 0;
  margin-left: 25px;
  display: flex;
  height: 3cm;
  padding:0;
  z-index:-1;
}

ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  width: 60px;
  top: 0;
  border: 2px solid #f1eb35;
} 

li a {
  display: block;
  background-color: #3c905c;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid #555;
}
li a:hover {
  background-color: #84298a;
  color: white;
}

.plot {
  overflow: scroll;
}

body {
  margin: 0;
  padding: 0px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: ligth) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (max-width: 992px) {
  :root {
    width: 50%;
    color:#f1eb35;
  }
  article {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  article {
    width: 30%;
  }
}