**/*.vscode 
**/*.idea
**/*.iml
**/build
**/target
**/.gradle
**/.png
**/Tekeningen
# Ignore Gradle project-specific cache directory
.gradle
node_modules

# Ignore Gradle build output directory
build
Tekeningen/my_image.png
